html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-poke {
    padding: 0px 200px 0px 200px; /* topo | direita | inferior | esquerda */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

h1 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

ul {
    display: flex;
    height: auto;
    flex: 1;
    flex-flow: wrap;
    gap: 100px;
    padding: 0;
}

li {
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}